@import '../../theme/index.less';

.dashboardPage {
  padding: 128px 128px 0 128px;
}

@media screen and (min-width: 360px) and (max-width: 1180px) {
  .dashboardPage {
    padding: 0 2px 0 2px;
  }
}

.userCard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  .helloText {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: "SFUIDisplay", "Helvetica Neue", sans-serif;
    font-size: 32px;
    font-weight: bold;
  }

  .tiemText {
    display: flex;
    align-items: flex-end;
    height: 100%;
    font-weight: bold;
    padding-bottom: 4px;
  }
}

.card {
  margin: 12px;
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(136, 152, 170, 0.15);
  background: @primaryBlock;
  // transition: background 1s linear 0s;
  position: relative;
  height: 360px;

  .cardContent {
    padding: 16px 32px 16px 32px;
    position: relative;

    .cardHeader {
      text-align: left;
      font-size: 1.8em;
    }

    .cardBody {
      display: flex;
      height: 300px;
      tbody {
        & tr:nth-child(1) {
          span {
            background-color: #f56a00;
          }
        }
        & tr:nth-child(2) {
          span {
            background-color: #85ce67;
          }
        }
        & tr:nth-child(3) {
          span {
            background-color: #1890ff;
          }
        }
      }
    }
  }
}

.cardSm {
  margin-top: 12px;
  height: 174px;

  .cardBody {
    display: flex;
    height: auto !important;
  }
}

.seemoreText {
  font-size: 14px;
  margin-top: 8;
  font-weight: bold;
  color: #1890ff;
}

.rank {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}

.cardCarousel {
  padding: 12px;
  height: 280px;
  overflow: hidden;

  :global(.ant-carousel .slick-dots li.slick-active button) {
    background: #1890ff;
  }

  :global(.ant-carousel .slick-dots li button) {
    background: #999;
  }

  :global(.ant-carousel .slick-dots-bottom) {
    bottom: -50px;
  }
}

.cardCarouselContent {
  letter-spacing: 1.2px;
  font-size: 16px;
  overflow: auto;
  color: @primaryText;
}
