@primary: var(--primary, #d8dad9);
@primaryBlock: var(--primaryBlock, #fff);
@primaryText: var(--primaryText, #252422);
@primaryPlaceholder: var(--primaryPlaceholder, #d0d0d0);
@primaryHeader: var(--primaryHeader, #fafafa);

@bodyBgColor: var(--bodyBgColor, #e4e6f5);
@borderColor: var(--borderColor, #e5e4e9);
@themeBgColor: var(--themeBgColor, #fff);
@titleColor: var(--titleColor, #979dc3);
@mainColor: var(--mainColor, #7a7e9d);
@mainContainerBg: var(--mainContainerBg, #f0f0f7);
@linkActiveBg: var(--linkActiveBg, #17285e);
@linkActiveColor: var(--linkActiveColor, #fff);
