@import '../../theme/index.less';
.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  text-align: center;
  line-height: 70px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: @titleColor;
}
