@import '../theme/index.less';

body {
  background: @bodyBgColor !important;
  // transition: background 2s linear 0s;
  color: @primaryText !important;
}

.back-dashboard {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: fixed;
  right: 32px;
  top: 24px;
  z-index: 10;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  line-height: 40px;
  border-radius: 4px;
  background-color: rgb(16, 136, 233);
  color: #fff;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0 1rem 0 rgba(136, 152, 170, 0.15);
}

.back-dashboard:hover {
  background-color: #fff;
  color: rgb(16, 136, 233);
}

.ant-result-title {
  color: @primaryText !important;
}

.ant-typography {
  color: @primaryText !important;
}

.ant-table-container {
  background: @primaryBlock;
  color: @primaryText;
}

.ant-table-container {
  background: @primaryBlock;
  color: @primaryText;
}

.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: @primary !important;
}

.ant-empty-normal {
  color: @primaryPlaceholder !important;
}

.ant-table-thead > tr > th {
  color: @primaryText !important;
  background: @primaryHeader !important;
}

.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link {
  color: @primaryText !important;
  background: @primaryBlock !important;
}

.ant-pagination-item-active a {
  color: @primaryText !important;
  background: @primaryBlock !important;
}

.link {
  font-weight: 600;
  font-size: 14px;
}

.link:hover {
  cursor: pointer;
}
