body {
  background: #d8dad9 !important;
}

.back-dashboard {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: fixed;
  right: 50px;
  top: 20px;
  z-index: 10;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 100px;
  line-height: 40px;
  border-radius: 4px;
  background-color: rgb(16, 136, 233);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
